SUPABASE_URL=
SUPABASE_SERVICE_KEY=
UPSTASH_KAFKA_BOOTSTRAP=
UPSTASH_KAFKA_USERNAME=
UPSTASH_KAFKA_PASSWORD=
UPSTASH_REDIS_URL=
SMS_PROVIDER=africastalking
AT_API_KEY=
AT_USERNAME=
AT_SHORTCODE=
USSD_SERVICE_CODE=
AERYION_API_URL=http://localhost:8000
LINKTRADE_API_URL=http://localhost:8002
SENTRY_DSN=
