SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GEE_SERVICE_ACCOUNT_EMAIL=
GEE_PRIVATE_KEY_PATH=
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=aeryion
NASA_FIRMS_API_KEY=
UPSTASH_KAFKA_BOOTSTRAP=
UPSTASH_KAFKA_USERNAME=
UPSTASH_KAFKA_PASSWORD=
UPSTASH_REDIS_URL=
SENTRY_DSN=
